<!--          Service contnet using A & List tag -->

<!-- <section className="service-type">
        <div className="container">
          <div className="heading">
            <div className="icon icon-heading-icon">icon</div>
            <div className="text">
              <h2>VJAN-Moi-Tech Special Features</h2>
            </div>
          </div>
          <div className="service-catelog">
            <ul>
              <li>
                <a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a>
              </li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
              <li><a href="#">
                  <span style={{textAlign:"center"}}><IoIosCloudUpload />
                  </span> <br />
                  <span>Manage VJAN-MoiTech</span>
                </a></li>
            </ul>
          </div>
        </div>
      </section> -->

<!-- Service content using List and Link -->
<!--   <section className="service-content mt-5 ">
        <div className="container pt-5">
          <div className="heading">
            <div className="icon icon-heading-icon">icon</div>
            <div className="text">
              <h2>Moi at hand </h2>
            </div>
            <div className="stickline">__________</div>
          </div>
          <ul className="no-list-style d-flex justify-content-center">
            <li className="mr-4">
              <Link to="/" className="icon-link">
                <FontAwesomeIcon icon={faHome} /> Home
              </Link>
            </li>
            <li className="mr-4">
              <Link to="/services" className="icon-link">
                <FontAwesomeIcon icon={faCogs} /> Services
              </Link>
            </li>
            <li className="mr-4">
              <Link to="/about" className="icon-link">
                <FontAwesomeIcon icon={faInfoCircle} /> About
              </Link>
            </li>
            <li>
              <Link to="/contact" className="icon-link">
                <FontAwesomeIcon icon={faPhoneAlt} /> Contact
              </Link>
            </li>
            <li>
              <Link to="/contact" className="icon-link">
                <FontAwesomeIcon icon={faPhoneAlt} /> Contact
              </Link>
            </li>
          </ul>
          <ul className="no-list-style d-flex justify-content-center">
            <li className="mr-4">
              <Link to="/" className="icon-link">
                <FontAwesomeIcon icon={faHome} /> <span>heh</span>
              </Link>
            </li>
            <li className="mr-4">
              <Link to="/services" className="icon-link">
                <FontAwesomeIcon icon={faCogs} /> Services
              </Link>
            </li>
            <li className="mr-4">
              <Link to="/about" className="icon-link">
                <FontAwesomeIcon icon={faInfoCircle} /> About
              </Link>
            </li>
            <li>
              <Link to="/contact" className="icon-link">
                <FontAwesomeIcon icon={faPhoneAlt} /> Contact
              </Link>
            </li>
            <li>
              <Link to="/contact" className="icon-link">
                <FontAwesomeIcon icon={faPhoneAlt} /> Contact
              </Link>
            </li>
          </ul>
        </div>
      </section> -->
