/* #root{
    /* overflow-x: hidden; */
   
/* }
*{
    padding: 0px;
    margin: 0px;
} */ 
 #root{
    overflow-x: hidden;
 }
 *{
    background-image: url('./assets/background/Bckgrund.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }